body { /*Правила, которые будут применены ко всей странице*/
    font-family: 'Roboto Slab', serif; /*Задаем шрифт*/
    font-size: 18px; /*Задаем размер шрифта для ВСЕХ элементов*/
    background-color: #f8f8ff; /*Цвет фона всей страницы*/
}

h1, h2 { /*Выбираем все элементы с тегом h1 и h2*/
    text-align: center; /*Текст по центру*/
}

#block {
    display: inline-block; /*Размер div зависит от контента*/
    position: relative; /*Позволяет перемещать элемент относительно его места в потоке*/
    font-size: 24px; /*Размер шрифта*/
    background-color: #DDE1EB; /*Цвет фона*/
    margin-top: 20px; /*Отступ сверху вне блока*/
    right: 20px; /*Мы применили правило "position: relative", теперь мы можем перемещать блок относительно его "старого" места*/
}

#block > div { /*Выбрать все div, входящие в элемент с id block*/
    border: solid 1px #38363E; /*Обводка*/
    margin: 20px; /*Отступ сразу со всех сторон вне блока*/
    padding: 10px; /*Отступ сразу со всех сторон внутри блока*/
    background-color: #DDE1EB; /*Цвет фона*/
}

#line {
    position: relative; /*Позволяет перемещать элемент относительно его места в потоке*/
    left: 20px; /*Мы применили правило "position: relative", теперь мы можем перемещать блок относительно его "старого" места*/
    font-size: 24px; /*Размер шрифта только для этого блока*/
    background-color: #DDE1EB; /*Цвет фона*/
    margin-top: 20px; /*Отступ сверху вне блока*/
    padding-top: 10px; /*Отступ сверху внутри блока*/
    margin-bottom: 20px; /*Отступ снизу вне блока*/
    padding-bottom: 10px; /*Отступ снизу внутри блока*/
}

#line > span { /*Выбрать все span, входящие в элемент с id line*/
    border: solid 1px #38363E; /*Обводка*/
    padding: 10px; /*Отступ внутри блока*/
    background-color: #DDE1EB; /*Цвет фона*/
}

#line > span:first-child {/*Выбрать только первый span, входящий в элемент с id line*/
    margin-left: 20px; /*Установить отступ вне блока только с левой стороны*/
}

#content {
    width: 90%; /*Ширина блока*/
}

img {
    margin-top: 40px; /*Отступ сверху вне блока*/
}

#border, #side{ /*Применить стиль сразу к двум элементам*/
    display: inline-block; /*Размер div зависит от контента*/
    margin-top: 40px; /*Отступ сверху вне блока*/
    margin-bottom: 40px; /*Отступ снизу вне блока*/
}

#border, #side > span {
    font-size: 40px; /*Размер шрифта*/
    margin-right: 20px; /*Отступ справа вне блока*/
}

#relative > div, #absolute > div, #fixed > div, #float > div { /*Выбрать все div, входящие в элемент с id relative, absolute, fixed и float*/
    width: 200px; /*Ширина div*/
    height: 200px; /*Высота div*/
    background-color: #B8CADF; /*Цвет фона*/
    text-align: center; /*Разместить текст в div по центру*/
    line-height: 200px; /*Если мы знаем размер блока, в котором находится текст, то мы можем расположить текст по центру по вертикали, указав в свойстве line-height высоту блока*/
}
#relative > div:last-child { /*Выбрать только последний div, входящий в элемент с id relative*/
    position: relative; /*Выбираем тип позиционирования*/
    bottom: 100px; /*Смещаем ОТ нижней (bottom) стороны вверх на 100px*/
    background-color: #578E93; /*Перезаписываем цвет фона. В CSS в случае, если были задано одно и то же свойство, но с разными значениями (1. color: white; 2. color: black), будет устанавлено значение свойства, которое было задано позже (2. color: black)*/
}

#absolute > div:last-child { /*Выбрать только последний div, входящий в элемент с id absolute*/
    position: absolute; /*Выбираем тип позиционирования*/
    bottom: 0px;
    background-color: #578E93; /*Перезаписываем цвет фона. В CSS в случае, если были задано одно и то же свойство, но с разными значениями (1. color: white; 2. color: black), будет устанавлено значение свойства, которое было задано позже (2. color: black)*/
}

#fixed > div:last-child { /*Выбрать только последний div, входящий в элемент с id fixed*/
    position: fixed; /*Выбираем тип позиционирования*/
    /*bottom: 50px;*/
    background-color: #578E93; /*Перезаписываем цвет фона. В CSS в случае, если были задано одно и то же свойство, но с разными значениями (1. color: white; 2. color: black), будет устанавлено значение свойства, которое было задано позже (2. color: black)*/
}

#float > div:last-child { /*Выбрать только последний div, входящий в элемент с id float*/
    float: right; /*Исключить элемент из общего потока и расположить с правой стороны*/
    background-color: #578E93; /*Перезаписываем цвет фона. В CSS в случае, если были задано одно и то же свойство, но с разными значениями (1. color: white; 2. color: black), будет устанавлено значение свойства, которое было задано позже (2. color: black)*/
}